body {
    margin: 0;
    padding: 0 0 80px 0;
    }
    
    a {
        text-decoration: none;
        color: black;
    }
    
    img {
        display: inline-flex;
        width: 100%;
        height: 400px;
        object-fit: cover;
}

input {
    height: 25px;
    width: 300px;
    border-radius: 10px;
    border: 2px solid tomato;
    outline: none;

    padding-left: 10px;

    transition: border 250ms ease-in-out;
}

input:focus {
    border: 2px solid greenyellow;
}

.container {
    position: fixed;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 255, 42, 0.704);
    }
    
    .gallery {
        padding-top: 50px;
        padding-bottom: 50px;
}

.search__form {
    position: relative;
    display: flex;
    align-items: center;
}

.search__button {
    position: absolute;
    top: 0;
    right: 0;

    border: none;
    height: 100%;
    width: 40px;

    border-radius: 10px;
    background-color: rgb(255, 106, 0);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms ease-in, transform 150ms ease-out;
}

.search__button:hover,
.search__button:focus {
    cursor: pointer;
    background-color: greenyellow;
}

.search__button:active {
    transform: scale(0.8);
}
.load-more {
    display: block;
    border: none;
    height: 40px;
    width: 200px;

    margin-left: auto;
    margin-right: auto;

    border-radius: 10px;
    background-color: rgb(255, 106, 0);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms ease-in, transform 150ms ease-out;
}

.load-more.is-hidden {
    display: none;
}
.load-more:hover,
.load-more:focus {
    cursor: pointer;
    background-color: greenyellow;
}

.load-more:active {
    transform: scale(0.8);
}

.number-of {
    color: tomato;
}

.gallery {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px 20px;
        margin: 0;
    }

.photo-card {
    height: 500px;
    display: flex;
    justify-content: center;
    border: 1px grey solid;
    border-radius: 5px;
    animation: slidein 3s linear;
}

img {
    display: inline-flex;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.info-item {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
}

.info {
    height: 100px;
    display: flex;
    justify-content: center;
}
.caption--bg {
    font-weight: 700;
    background-color: rgba(255, 99, 71, 0.733) !important;
}

.infinite-scroll__form {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 100px;
}

#infiniteScroll {
    width: 15px;
    height: 15px;
    margin: 0 0 0 20px;
}